.leaderboard {
    width:80%;
    border-collapse: separate;
    background-color: #040D12;
    margin: 0 auto;
    /* animation: slideIn 2s ease-in-out; */
    
}

.leaderboard td:hover {
    background-color: blueviolet;   
}

.leaderboard th,td {
    padding: 10px;
}
.boardheader {
    color: white;
    padding: 15px;
}

.boardbody {
    background-color: #183D3D;
    color: white;
    padding: 15px;
}

/* @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  } */